table {
	width: 100%;
}

thead {
	border-bottom: 1px solid $light-gray;
}

table:not(.striped) tbody {
	tr {
		border-bottom: 1px solid $light-gray;
	}
}

th, td {
	text-align: left;
	padding: $table-padding;
}

th:first-child,
td:first-child {
	padding-left: 0;
}

th:last-child,
td:last-child {
	padding-right: 0;
}

table.striped {
	tbody tr:nth-child(2n - 1){
		background: $light-gray;
	}
}