//Headings
h1, h2, h3, h4, h5, h6 {
	margin-top: $heading-margin-top;
	margin-bottom: $heading-margin-bottom;
	font-weight: 300;
	color: inherit;
}

//Heading sizes
h1 {
	font-size: $h1-font-size;
}

h2 {
	font-size: $h2-font-size;
}

h3 {
	font-size: $h3-font-size;
}

h4 {
	font-size: $h4-font-size;
}

h5 {
	font-size: $h5-font-size;
}

h6 {
	font-size: $h6-font-size;
}

//paragraphs
p {
	margin-top: $p-margin-top;
	margin-bottom: $p-margin-bottom;
	font-size: inherit;
	color: inherit;
}

a {
	color: $primary-color;
	text-decoration: none;
}

a:hover {
	color: $secondary-color;
	text-decoration: none;
}

//buttons
.button {
	position: relative;
	display: inline-block;
	whitespace: normal;
	padding: $button-padding-top $button-padding-side;
	color: $light-text-color;
	border-radius: $button-border-radius;
	background: $primary-color;
	margin-bottom: $button-margin-bottom;
}

.button:hover {
	color: $light-text-color;
	background: $secondary-color;
}

ul {
	list-style: square inside;
}

ol {
	list-style: decimal inside;
}